<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="form-add-mahasiswa" method="post">
		<table>
			<tr>
				<td>Kode Mahasiswa</td>
				<td><input type="text" placeholder="Kode Mahasiswa" name="kode"></td>
			</tr>
			<tr>
				<td>Nama Mahasiswa</td>
				<td><input type="text" placeholder="Nama Mahasiswa" name="nama"></td>
			</tr>
			<tr>
				<td>Semester</td>
				<td><input type="number" placeholder="Semester" name="semester"></td>
			</tr>

			<tr>
				<td></td>
				<td><input id="btn-create" class="btn btn-primary"type="submit">&nbsp;&nbsp;<input
					class="btn btn-secondary" type="reset"></td>
			</tr>
		</table>
	</form>
</body>
</html>