<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form id="form-add-keranjang" method="post">
		<table>
			<tr>
				<td>Tipe Keranjang</td>
				<td><input type="text" placeholder="Tipe Keranjang" name="tipe"></td>
			</tr>
			<tr>
				<td></td>
				<td><input id="btn-createKeranjang" class="btn btn-primary"type="submit">&nbsp;&nbsp;<input
					class="btn btn-secondary" type="reset"></td>
			</tr>
		</table>
	</form>
</body>
</html>