<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>list</title>
</head>
<body>
	<tr th:each ="item : ${SayurModelList}">
		<td><a th:text = "${item.namaSayur}"></a></td>
		<td><a th:text = "${item.jumlahSayur}"></a></td>
		<td><a th:text = "${item.tipeKeranjang}"></a></td>
		
		<td><button id="btn-edit" type="button" class="btn btn-success" name="update" th:value="${item.idSayur}">Update</button>
		<button id="btn-remove" type="button" class="btn btn-danger" name="delete" th:value="${item.idSayur}">Delete</button></td>
	</tr>
</body>
</html>